#@${OWNER}:registry=https://npm.pkg.github.com
#//npm.pkg.github.com/:_authToken=${Github Packages}
#@ReiDelsAltres:registry=https://npm.pkg.github.com

@rei_dels_altres:registry=https://npm.pkg.github.com
registry=https://registry.npmjs.org/