# Source - https://stackoverflow.com/a
# Posted by Valentine Shi, modified by community. See post 'Timeline' for change history
# Retrieved 2025-11-29, License - CC BY-SA 4.0

//npm.pkg.github.com/:_authToken=${NPM_ACCESS_TOKEN}
@OWNER:registry=https://npm.pkg.github.com
