#//registry.npmjs.org/:_authToken=${NPM_ACCESS_TOKEN}

#//npm.pkg.github.com/:_authToken=${PACKAGES_TOKEN}
#@reidelsaltres:registry=https://npm.pkg.github.com/

//npm.pkg.github.com/:_authToken=${PACKAGES_TOKEN}
//registry.npmjs.org/:_authToken=${NPM_ACCESS_TOKEN}

@git:registry=https://npm.pkg.github.com/
@npm:registry=https://registry.npmjs.org/
