.blazor-theme {
    /* Primary */
    --color-primary: #594ae2;
    --color-primary-distinctive: #5a47ff;
    --color-primary-light: #7b6ff1;
    --color-primary-black: #3a2e7b;

    --color-text-primary: var(--color-primary);
    --color-text-primary-contrast: #fff;

    /* Secondary */
    --color-secondary: #ff4081;
    --color-secondary-distinctive: #cc1854;
    --color-secondary-light: #ff79b0;
    --color-secondary-black: #c60055;

    --color-text-secondary: var(--color-secondary);
    --color-text-secondary-contrast: #fff;

    /* Tertiary */
    --color-tertiary: #ffc107;
    --color-tertiary-distinctive: #19a98c;
    --color-tertiary-light: #fff350;
    --color-tertiary-black: #c79100;

    --color-text-tertiary: var(--color-tertiary);
    --color-text-tertiary-contrast: #fff;

    /* Additional Colors */
    --color-additional: #00bcd4;
    --color-additional-distinctive: #264f78;
    --color-additional-light: #62efff;
    --color-additional-black: #008ba3;

    --color-text-additional: var(--color-additional);
    --color-text-additional-contrast: #fff;

    /* Utility Colors */
    --color-info: #2196f3;
    --color-text-info-contrast: #fff;

    --color-success: #4caf50;
    --color-text-success-contrast: #fff;

    --color-warning: #ff9800;
    --color-text-warning-contrast: #fff;

    --color-error: #f44336;
    --color-text-error-contrast: #fff;

    --color-text: #c1c1c4;
    --color-text-disabled: #9e9e9e;

    /*Surface color*/
    --surface: #32333d;
    --surface-light: #fff;
    --surface-dark: #27272f;

    /*background-color: #e5e5f7;
    background-color: #e5e5f7;
opacity: 0.8;
background-image:  linear-gradient(30deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), 
linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), 
linear-gradient(30deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), 
linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), 
linear-gradient(60deg, var(--color-primary) 25%, transparent 25.5%, transparent 75%, var(--color-primary) 75%, var(--color-primary)), 
linear-gradient(60deg, var(--color-primary) 25%, transparent 25.5%, transparent 75%, var(--color-primary) 75%, var(--color-primary));
background-size: 20px 35px;
background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
opacity: 0.8;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #444cf755, #444cf7 );*/

    /*Wrapped*/
    --app-background-size: none;
    --app-background-position: none;
    --app-background-image:
        repeating-radial-gradient(circle at 0 0, transparent 0, var(--surface) 35px),
        repeating-linear-gradient(var(--color-primary), var(--surface));
    --app-background-color: var(--surface);

    --app-bars-background-size: none;
    --app-bars-background-position: none;
    --app-bars-background-image: none;
    --app-bars-background-color: var(--surface-dark);

    --paper-background-size: auto;
    --paper-background-position: auto;
    --paper-background-image: 
        repeating-radial-gradient(circle at 0 0, transparent 0, var(--surface) 35px),
        repeating-linear-gradient(var(--surface-dark), var(--surface));
    --paper-background-color: var(--surface);

    --paper-border-top-left-radius: none;
    --paper-border-top-right-radius: none;
    --paper-border-bottom-left-radius: none;
    --paper-border-bottom-right-radius: none;

    --paper-border-style: none;
    --paper-border-color: none;

    --page-primary: var(--color-primary-black);

    --color-surface: var(--surface);
    --color-surface-light: var(--surface-light);
    --color-surface-dark: var(--surface-dark);

    --color-primary-container: color-mix(in srgb, var(--color-primary) 20%, black);
    --color-secondary-container: color-mix(in srgb, var(--color-secondary) 20%, black);
    --color-tertiary-container: color-mix(in srgb, var(--color-tertiary) 20%, black);
    --color-additional-container: color-mix(in srgb, var(--color-additional) 20%, black);
    --color-success-container: color-mix(in srgb, var(--color-success) 20%, black);
    --color-warning-container: color-mix(in srgb, var(--color-warning) 20%, black);
    --color-error-container: color-mix(in srgb, var(--color-error) 20%, black);
    --color-info-container: color-mix(in srgb, var(--color-info) 20%, black);
}