.logo {
    display: block;
    width: 50%;

    margin: auto auto;
    height: auto;
}
.blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}