.grail_list {
    background-color: var(--app-bars-background-color);
    background-image: var(--app-bars-background-image);
    background-position: var(--app-bars-background-position);
    background-size: var(--app-bars-background-size);

    display: flex;
    position: fixed;

    z-index: 1;
}
:host([side="top"]) .grail_list, :host([side="bottom"]) .grail_list {
    top: 0;
    width: 100vw;
    height: 5vh;
}
:host([side="left"]) .grail_list, :host([side="right"]) .grail_list {
    height: 100vh;
    width: 10vw;
}

:host([side="top"]) #page {
    margin-top: 5vh;
}

::slotted(*[slot="page"]) {
}

::slotted(*[slot="one"]) {
}

::slotted(*[slot="two"]) {
}

::slotted(*[slot="three"]) {
}

::slotted(*[slot="four"]) {
}