:host {
    display: grid;
    
    grid-template-columns: 8 1fr;
    grid-template-rows: 8 1fr;

    width: calc(25px * 8);
    height: calc(25px * 8);

    background-size: 50px 50px;
    background-position: 0 0, 25px 25px, 25px 0, 0 25px;
    background-image: 
        linear-gradient(45deg, #000 25%, transparent 25%,
            transparent 75%, #000 75%, #000),
        linear-gradient(45deg, #000 25%, transparent 25%,
            transparent 75%, #000 75%, #000),
        linear-gradient(45deg, #fff 25%, transparent 25%,
            transparent 75%, #fff 75%, #fff),
        linear-gradient(45deg, #fff 25%, transparent 25%,
            transparent 75%, #fff 75%, #fff);;
}