.theme_container {
  background-size: var(--app-background-size);
  background-color: var(--app-background-color);
  background-image: var(--app-background-image);
  background-position: var(--app-background-position);

  padding: 2px;
}

.grid2 {
  background-size: var(--page-background-size);
  background-color: var(--page-background-color);
  background-image: var(--page-background-image);
  background-position: var(--page-background-position);

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  margin: 5px;
}

.title {
  background-size: var(--page-background-size);
  background-color: var(--page-background-color);
  background-image: var(--page-background-image);
  background-position: var(--page-background-position);

  margin: 10px;
  padding: 10px;
}

.sub_container {
  display: flex;
}

.color {
  display: inline;
  align-items: center;
  padding: 10px 20px;
  margin: 5px;
}

.color.primary {
  background-color: var(--color-primary, #6c63ff);
  color: var(--color-text-primary-contrast, #fff);
}

.color.primary-distinctive {
  background-color: var(--color-primary-distinctive, #6c63ff);
  color: var(--color-text-primary-contrast, #fff);
}

.color.secondary {
  background-color: var(--color-secondary, #ff6584);
  color: var(--color-text-secondary-contrast, #fff);
}

.color.secondary-distinctive {
  background-color: var(--color-secondary-distinctive, #6c63ff);
  color: var(--color-text-secondary-contrast, #fff);
}

.color.tertiary {
  background-color: var(--color-tertiary, #3f3d56);
  color: var(--color-text-tertiary-contrast, #fff);
}

.color.tertiary-distinctive {
  background-color: var(--color-tertiary-distinctive, #2f2e41);
  color: var(--color-text-tertiary-contrast, #fff);
}

.color.additional {
  background-color: var(--color-additional, #00bfa6);
  color: var(--color-text-additional-contrast, #fff);
}

.color.additional-distinctive {
  background-color: var(--color-additional-distinctive, #008f80);
  color: var(--color-text-additional-contrast, #fff);
}

.color.info {
  background-color: var(--color-info, #17a2b8);
  color: var(--color-text-info-contrast, #fff);
}

.color.success {
  background-color: var(--color-success, #28a745);
  color: var(--color-text-success-contrast, #fff);
}

.color.warning {
  background-color: var(--color-warning, #ffc107);
  color: var(--color-text-warning-contrast, #000);
}

.color.error {
  background-color: var(--color-error, #dc3545);
  color: var(--color-text-error-contrast, #fff);
}