<div class="card">
  <div class="wrapper">
    <div class="color" data-color="primary" style="border-top-left-radius: 5px; 
      border-top-right-radius: 5px;">
      primary
      <span class="hex"></span>
    </div>
    <div class="color" data-color="secondary">
      secondary
      <span class="hex"></span>
    </div>
    <div class="color" data-color="additional">
      additional
      <span class="hex"></span>
    </div>
    <div class="color" data-color="info">
      info
      <span class="hex"></span>
    </div>
    <div class="color" data-color="warning">
      warning
      <span class="hex"></span>
    </div>
    <div class="color" data-color="error" style="border-bottom-left-radius: 5px; 
      border-bottom-right-radius: 5px;">
      error
      <span class="hex"></span>
    </div>
    <div class="border">common border radius <span>5px | 8px</span></div>
  </div>
</div>