<div class="theme_container">
  <p class="title">Chess</p>
  <div class="grid2">
    <div class="sub_container">
      <div class="color primary">
        <span class="hex">#</span>
      </div>
      <div class="color primary-distinctive">
        <span class="hex">#</span>
      </div>
    </div>
    <div class="sub_container">
      <div class="color secondary">
        <span class="hex">#</span>
      </div>
      <div class="color secondary-distinctive">
        <span class="hex">#</span>
      </div>
    </div>
    <div class="sub_container">
      <div class="color tertiary">
        <span class="hex">#</span>
      </div>
      <div class="color tertiary-distinctive">
        <span class="hex">#</span>
      </div>
    </div>
    <div class="sub_container">
      <div class="color additional">
        <span class="hex">#</span>
      </div>
      <div class="color additional-distinctive">
        <span class="hex">#</span>
      </div>
    </div>
  </div>

  <div class="grid2">
    <div class="color info">
      <span class="hex">#</span>
      <p>Info</p>
    </div>
    <div class="color success">
      <span class="hex">#</span>
      <p>Success</p>
    </div>
    <div class="color warning">
      <span class="hex">#</span>
      <p>Warning</p>
    </div>
    <div class="color error">
      <span class="hex">#</span>
      <p>Error</p>
    </div>
  </div>

</div>