/*.drawer {
    position: fixed;
    left: 0;
    top: 0;

    z-index: 1200;

    background: var(--surface-dark);
    color: var(--color-text-primary-contrast);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.18), 0 1.5px 4px rgba(0, 0, 0, 0.10);

    transition: box-shadow 0.2s, width 0.35s cubic-bezier(.4, 0, .2, 1);
    overflow-y: auto;
}*/

:host {
    display: block;
    position: fixed;

    left: 0;
    top: 0;

    height: 100vh;

    z-index: 1200;

    background: var(--surface-dark);
    color: var(--color-text-primary-contrast);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.18), 0 1.5px 4px rgba(0, 0, 0, 0.10);

    transition: box-shadow 0.2s, width 0.35s cubic-bezier(.4, 0, .2, 1);
}

:host([state="open"]) {
    width: 280px;

    --onlyin-open-opacity: 1;
    --onlyin-open-height: auto;
    --onlyin-open-width: auto;

    --onlyin-mini-opacity: 0;
    --onlyin-mini-height: 0;
    --onlyin-mini-width: 0;
}

:host([state="mini"]) {
    width: 80px;

    --onlyin-open-opacity: 0;
    --onlyin-open-height: 0;
    --onlyin-open-width: 0;

    --onlyin-mini-opacity: 1;
    --onlyin-mini-height: auto;
    --onlyin-mini-width: auto;
}



.menu h2 {
    text-align: center;

    margin: 15px 0 15px 0;

    color: var(--color-primary);
    transition: color 0.35s cubic-bezier(.4, 0, .2, 1);
}

:host([state="mini"]) >.menu>h2 {
    color: transparent;
    transition: color 0.35s cubic-bezier(.4, 0, .2, 1);
}

.separator {
    margin: 200px 0 200px 0;
}

:host([state="mini"]) .submenu {
    transition: all 0.35s cubic-bezier(.4, 0, .2, 1);
}

.submenu h3 {
    text-align: center;

    margin: 15px 0 15px 0;

    color: var(--color-secondary);
    transition: color 0.35s cubic-bezier(.4, 0, .2, 1);
}

:host([state="mini"]) >.submenu>h3 {
    color: transparent;
    transition: color 0.35s cubic-bezier(.4, 0, .2, 1);
}

.list {
    display: block;
    list-style: none;

    align-items: start;

    margin: 0;
    padding: 0;
}

/*
:host(:not([state="mini"])) { display: none; }
:host(:not([state="open"])) { display: none; }*/