name: Publish Package

permissions:
  contents: read
  packages: write

on:
  push:
    tags:
      - 'v*'   # запуск при пуше тега версии, например v1.0.0

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      #- run: npm test

            # Публикация в GitHub Packages
      - run: |
          npm publish --scope=@git --registry=https://npm.pkg.github.com
        env:
          PACKAGES_TOKEN: ${{ secrets.PACKAGES_TOKEN }}


       #Публикация в npmjs.org
      - run: |
          npm publish --scope=@npm --registry=https://registry.npmjs.org
        env:
          NPM_ACCESS_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
